################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrabajoFinal/.vs/TrabajoFinal/FileContentIndex
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0
/TrabajoFinal/.vs/TrabajoFinal/v17
/TrabajoFinal/.vs/TrabajoFinal/DesignTimeBuild/.dtbcache.v2
/TrabajoFinal/.vs/TrabajoFinal/v17/.suo
/TrabajoFinal/.vs/TrabajoFinal/v17/DocumentLayout.backup.json
/TrabajoFinal/.vs/TrabajoFinal/v17/DocumentLayout.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.AssemblyInfo.cs
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.AssemblyInfoInputs.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.assets.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.GeneratedMSBuildEditorConfig.editorconfig
/TrabajoFinal/TrabajoFinal/bin/Debug/net8.0/TrabajoFinal.dll
/TrabajoFinal/TrabajoFinal/bin/Debug/net8.0/TrabajoFinal.exe
/TrabajoFinal/TrabajoFinal/bin/Debug/net8.0/TrabajoFinal.pdb
/TrabajoFinal/TrabajoFinal/bin/Debug/net8.0/TrabajoFinal.staticwebassets.runtime.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/ref/TrabajoFinal.dll
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/refint/TrabajoFinal.dll
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/apphost.exe
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/staticwebassets.build.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/staticwebassets.development.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/staticwebassets.pack.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.csproj.CoreCompileInputs.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.csproj.FileListAbsolute.txt
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.dll
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.genruntimeconfig.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.pdb
/TrabajoFinal/TrabajoFinal/obj/project.assets.json
/TrabajoFinal/TrabajoFinal/obj/project.nuget.cache
/TrabajoFinal/TrabajoFinal/obj/TrabajoFinal.csproj.nuget.dgspec.json
