################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrabajoFinal/.vs/TrabajoFinal/FileContentIndex
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0
/TrabajoFinal/.vs/TrabajoFinal/v17
/TrabajoFinal/.vs/TrabajoFinal/DesignTimeBuild/.dtbcache.v2
/TrabajoFinal/.vs/TrabajoFinal/v17/.suo
/TrabajoFinal/.vs/TrabajoFinal/v17/DocumentLayout.backup.json
/TrabajoFinal/.vs/TrabajoFinal/v17/DocumentLayout.json
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.AssemblyInfo.cs
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.AssemblyInfoInputs.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.assets.cache
/TrabajoFinal/TrabajoFinal/obj/Debug/net8.0/TrabajoFinal.GeneratedMSBuildEditorConfig.editorconfig
